body{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.seccion1{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.seccion1_foto{
    height: 400px;
    width: auto;
}

.header_foto{
    height: 100px;
    width: auto;
}

.cuerpo{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 16px;
}

.container_cuerpo{
    display: flex;
    flex-direction: column;
    width: 500px;
    color: white;
}

.container_cuerpo button{
    height: 30px;
    width: fit-content;
    background-color: #3882f6;
    border-radius: 12px;
    color: white;

}

.seccion2 img{
    height: 300px;
    width: auto;
}

.seccion2{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    
}


.seccion2-info{
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.seccion2-info img {
    width: auto;
    height: 400px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.TWOK, .WOR, .O, .ROW {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion2-info div{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.seccion3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: #E5E7EB;
    padding: 110px;
}

.seccion3 .container{
    max-width: 800px;
}

.seccion3 .Citador{
    font-size: 23px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.seccion3 .Cita{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}